@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* VARIABLES */
:root {
    --bcg-color: #081c31;
    --primary-color: #FF4800;
    --secondary-color: #2b4a6b;
    --font-color: #ffffff;
    --dark-color: #dc3545;
    --success-color: #28a745;
  }

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--bcg-color);
    color: var(--font-color);
  }

a {
  text-decoration: none;
}

li {
  list-style: none
}

/* LAYOUT */

.container {
  max-width: 60%;
  margin: auto;
  overflow: hidden;
}

.first-layout {
  display: grid;
  grid: 15vh 70vh / repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 0 4rem;
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-column: 1 / span 5;
  padding: 1rem 0;
}

.breadcrumbs li {
  padding: 0 1rem;
}

.booking-grid {
  height: 35vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: .5rem 2rem;
    width: 100%;
    margin: 0 auto;
  }

.navbar > img {
   width: 140px;
}